<p class=module-import-start-footer-text>
     {{ 'Please upload one file at a time, .zip or tarball format (.tar, .tar.gz or .tgz).'|trans({}, 'Admin.Modules.Help') }}
     {{ 'Your module will be installed right after that.'|trans({}, 'Admin.Modules.Help') }}
</p>
